<head>
    <!-- Load jquery first, then bootstrap 5 -->
    <meta charset="UTF-8">
    <title>KyokuShare</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<script>
    function loginOnSubmit() {
        const username = $.trim($("#username").val());
        const password = $.trim($("#password").val());

        const data = {
            username,
            password
        }

        fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then((response) => { console.log(response); return response.json() })
            .then((data) => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', JSON.stringify(error));
            });
    }
</script>

<body>
    <form method="post" action="/login">
        <input name="username" type="text" />
        <input name="password" type="password" />
        <button type="submit">Login</button>
    </form>

    <form method="post" action="/signup">
        <input name="username" type="text" />
        <input name="password" type="password" />
        <button type="submit">Signup</button>
    </form>
</body>