<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ここにロゴ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar"
            aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active"><a class="nav-link active" href="/">Home</a></li>
                <!--<li class="nav-item"><a class="nav-link" href="#">Comments</a></li> -->
                <% if (username) { %>
                    <li class="nav-item active"><a class="nav-link" href="/">Logged In as <%= username %></a></li>
                <% } else { %>
                    <li class="nav-item active"><a class="nav-link" href="/">Logged Out</a></li> 
                <% } %> 
            </ul>
        </div>
    </div>
</nav>